@model NewQA.Answer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Answer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppUser.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppUser.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
